/* ----- Global Styles ----- */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: medium;
    background: #000000;
    color: #dedede;
}

body.active {
    overflow: hidden;
    z-index: -1;
}

a {
    color: #1688f0;
    text-decoration: none;
}

.no-js #experience-timeline > div {
    background: #000000;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9d9;
}

.no-js #experience-timeline > div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #efefef;
    display: inline-block;
    margin: 0;
}

.no-js #experience-timeline > div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin-bottom: 15px;
}

.no-js #experience-timeline > div p {
    color: #dedede;
    font-size: 0.9em;
    margin: 0;
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none;
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 20;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
}

header ul {
    display: inline-block;
    background: #000000;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

header ul:hover {
    filter: drop-shadow(0 0 10px #1688f0);
    transition: 0.5s ease all;
}

header li {
    display: inline-block;
}

header a {
    display: block;
    color: #dedede;
    padding: 10px;
}

header a:hover {
    text-decoration: none;
    background: #1688f0;
    border-radius: 4px;
}

header a:focus {
    color: #1688f0;
    text-decoration: none;
}

header.active {
    display: block;
}

header.sticky {
    position: fixed;
    z-index: 999;
}

#menu.active {
    display: block;
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    left: 15px;
    top: 10px;
    color: #efefef;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #000000;
}

#mobile-menu-close {
    display: none;
    text-align: left;
    width: 100%;
    background: #000000;
    font-size: 1.5em;
    padding-left: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #1688f0;
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase;
}

#mobile-menu-close i {
    vertical-align: middle;
}

footer {
    padding: 50px 0;
}

.copyright {
    padding-top: 20px;
}

.copyright p {
    text-align: center;
    margin: 0;
    color: #dedede;
}

.top {
    text-align: center;
}

.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #1688f0;
    text-align: center;
}

.top i {
    color: #dedede;
}

.social {
    text-align: center;
    margin-right: 40px;
}

.social li {
    display: inline-block;
    list-style: none;
}

.social a {
    display: block;
    font-size: 1.75em;
    color: #dedede;
    padding: 10px;
}

.social i:hover {
    color: #1688f0;
    transition: 0.3s ease all;
    font-size: 1.25em;
    transform: scale(1.25);
}

.btn-rounded-white {
    display: inline-block;
    color: #ffffff;
    padding: 15px 25px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    transition: 0.5s ease all;
}

.btn-rounded-white:hover {
    color: #1688f0;
    background: #000000;
    text-decoration: none;
    filter: drop-shadow(0 0 10px #1688f0);
}

.btn-rounded-blue {
    display: inline-block;
    color: #dedede;
    padding: 15px 25px;
    border: 3px solid #1688f0;
    border-radius: 30px;
    background: #000000;
    transition: 0.5s ease all;
}

.btn-rounded-blue:hover {
    color: #dedede;
    background: #1688f0;
    text-decoration: none;
    border: 3px solid #dcd9d9;
    filter: drop-shadow(0 0 10px #1688f0);
    transform: scale(1.1);
}

.shadow {
    box-shadow:
        0 1px 3px #1688f0,
        0 1px 2px #800080;
}

.shadow-large {
    box-shadow:
        0 3px 6px #1688f0,
        0 3px 6px #800080;
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 30px;
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1688f0;
}

.background-alt {
    background: #0a0a0a;
}

/* ----- Lead Styles ----- */
#lead {
    position: relative;
    min-height: 100vmin;
}

#lead::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    background-image: url(images/bg.webp);
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}

#lead-content {
    z-index: 10;
    text-align: center;
    position: relative;
    padding: 30vmin;
    filter: drop-shadow(0 0 10px #1688f0);
}

#lead-content h1,
#lead-content h2 {
    margin: 0;
}

#lead-content #me {
    border: 2px solid #1688f0;
    border-radius: 50%;
    filter: drop-shadow(0 0 2px #1688f0);
    width: calc(30vmin + 10px);
    min-width: 220px;
    max-width: 500px;
    margin-bottom: 20px;
}

#lead-content h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 2.5em;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

#lead-content h2 {
    color: #1688f0;
    font-weight: 400;
    font-size: 1.5em;
    margin: 10px;
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: #dedede;
}

#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #1688f0;
    text-align: center;
}

#lead-down i {
    padding-top: 5px;
}

/* ----- About Styles ----- */
#about {
    padding: 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
}

#about h2 {
    color: #efefef;
}

#about p {
    padding: 10px;
    text-align: center;
    max-width: 90rem;
    margin: 0 auto;
    color: #dedede;
}

#about p a {
    font-weight: bold;
    color: #1688f0;
    text-decoration: none;
}

#about p a:hover {
    color: #0c6dc6;
    background: #1a1a1a;
    border: 1px solid #1688f0;
    border-radius: 4px;
}

/* ----- Experience Styles ----- */
#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #dcd9d9;
}

#experience h2 {
    color: #efefef;
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #1688f0;
    z-index: 0;
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #1688f0;
    background: linear-gradient(to bottom, #1688f0, rgba(22, 136, 240, 0));
    top: 100%;
    left: 303px;
}

.vtimeline-content {
    margin-left: 350px;
    background: #000000;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #efefef;
    display: inline-block;
    margin: 0;
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 400;
    color: #7e8890;
    margin-bottom: 15px;
}

.vtimeline-content p {
    color: #dedede;
    font-size: 0.9em;
    margin: 0;
}

.vtimeline-content:hover {
    transition: 0.5s ease all;
    box-shadow:
        0 3px 6px #1688f0,
        0 3px 6px #800080;
    filter: drop-shadow(0 0 10px #1688f0);
}

.vtimeline-point {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.vtimeline-icon {
    position: relative;
    color: #dedede;
    width: 50px;
    height: 50px;
    background: #1688f0;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #dedede;
}

/* ----- Skills Styles ----- */
#skills {
    padding: 50px 15px 20px 15px;
    text-align: center;
}

#skills h2 {
    color: #efefef;
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #efefef;
    border-radius: 10px;
    background: #0d0d0d;
    list-style: none;
    cursor: default;
    box-shadow:
        0 1px 6px #1688f0,
        0 1px 4px #800080;
    transition: 0.3s ease all;
}

#skills li:hover {
    box-shadow:
        0 3px 6px #1688f0,
        0 3px 6px #800080;
    font-weight: bold;
    filter: drop-shadow(0 0 10px #1688f0);
    transform: scale(1.1);
}

#skills a {
    color: #dedede;
    text-decoration: none;
    font-size: 1em;
}

#skills i {
    font-size: 1.2em;
}

/* ----- Media Queries ----- */
@media only screen and (max-width: 1280px) {
    #lead {
        min-height: auto;
        padding: 80px 20px 60px 20px;
    }

    #lead-content {
        padding: 40px;
    }

    #lead-content h1 {
        font-size: 2.5em;
    }

    #lead-content h2 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 800px) {
    #lead {
        min-height: auto;
        padding: 40px 20px;
    }

    header {
        position: fixed;
        display: none;
        animation: none;
        bottom: 0;
        height: 100%;
    }

    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }

    #menu {
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }

    #menu li {
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid #dcd9d9;
    }

    #menu li:first-child {
        border-top: 1px solid #dcd9d9;
    }

    #lead-content {
        padding: 20px 0px;
    }

    #lead-content h1 {
        font-size: 2em;
    }

    #lead-content h2 {
        font-size: 1.3em;
    }

    #lead-down {
        display: none;
    }

    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px;
    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }

    .vtimeline-icon {
        margin-left: 0;
    }

    .vtimeline-content {
        margin-left: 70px;
    }

    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .social a {
        font-size: 1.5em;
        padding: 10px 6px;
    }
}
