/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/

/* Light Theme

@media (prefers-color-scheme: light) {
    $base-color: #1688f0;
    $base-color-hover: purple;

    $background: #ffffff;
    $background-alt: #f2f2f5;

    $border: #dcd9d9;

    $heading: #374054;
    $text: #74808a;
}
*/

// Default dark theme
// @media (prefers-color-scheme: light) {
// Define base and accent colors
$base-color: #1688f0;
$base-color-hover: purple;

// Define background colors
$background: #000000;
$background-alt: #0a0a0a;

// Define border colors
$border: #dcd9d9;

// Define text colors
$heading: #efefef;
$text: #dedede;

/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
    transition: #{$duration} #{$func} #{$property};
}

@mixin drop-shadow($x: 0, $y: 0, $spread: 10px, $color: $base-color) {
    filter: drop-shadow($x $y $spread $color);
}

/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    font-size: medium;
    background: $background;
    color: $text;

    &.active {
        overflow: hidden;
        z-index: -1;
    }
}

a {
    color: $base-color;
    text-decoration: none;
}

// No JS styles
.no-js {
    #experience-timeline {
        > div {
            background: $background;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid $border;

            h3 {
                font-size: 1.5em;
                font-weight: 300;
                color: $heading;
                display: inline-block;
                margin: 0;
            }

            h4 {
                font-size: 1.2em;
                font-weight: 300;
                color: #7e8890;
                margin: 0 0 15px 0;
            }

            p {
                color: $text;
                font-size: 0.9em;
                margin: 0;
            }
        }

        &:before,
        &:after {
            content: none;
        }
    }
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 20;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;

    ul {
        display: inline-block;
        background: $background;
        text-align: center;
        padding: 10px;
        margin: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        &:hover {
            @include drop-shadow();
            @include transition();
        }
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        color: $text;
        padding: 10px;

        &:hover {
            color: $text;
            text-decoration: none;
            background: $base-color;
            border-radius: 4px;
        }

        &:focus {
            color: $base-color;
            text-decoration: none;
        }
    }

    &.active {
        display: block;
    }

    &.sticky {
        position: fixed;
        z-index: 999;
    }


}

#menu {
    &.active {
        display: block;
    }
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    left: 15px;
    top: 10px;
    color: $heading;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: $background;
}

#mobile-menu-close {
    display: none;
    text-align: left;
    width: 100%;
    background: $background;
    font-size: 1.5em;
    padding-left: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: $base-color;

    span {
        font-size: 0.5em;
        text-transform: uppercase;
    }

    i {
        vertical-align: middle;
    }
}

footer {
    padding: 50px 0;
}

.copyright {
    padding-top: 20px;

    p {
        text-align: center;
        margin: 0;
        color: $text;
    }
}

.top {
    text-align: center;

    span {
        cursor: pointer;
        display: block;
        margin: 15px auto 0 auto;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid $base-color;
        text-align: center;
    }

    i {
        color: $text;
    }
}

.social {
    text-align: center;
    // Compensates for user agent stylesheet that adds 40px padding
    margin-right: 40px;

    li {
        display: inline-block;
        list-style: none;
    }

    a {
        display: block;
        font-size: 1.75em;
        color: $text;
        padding: 10px;
    }

    i {
        &:hover {
            color: $base-color;
            @include transition(0.3s);
            font-size: 1.25em;
            transform: scale(1.25);
        }
    }
}

.btn-rounded-white {
    display: inline-block;
    color: white;
    padding: 15px 25px;
    border: 3px solid white;
    border-radius: 30px;
    @include transition();

    &:hover {
        color: $base-color;
        background: $background;
        text-decoration: none;
        @include drop-shadow();
    }
}

.btn-rounded-blue {
    display: inline-block;
    color: $text;
    padding: 15px 25px;
    border: 3px solid $base-color;
    border-radius: 30px;
    background: $background;
    @include transition();

    &:hover {
        color: $text;
        background: $base-color;
        text-decoration: none;
        border: 3px solid $border;
        @include drop-shadow();
        transform: scale(1.1);
    }
}

.shadow {
    box-shadow: 0 1px 3px $base-color, 0 1px 2px $base-color-hover;
}

.shadow-large {
    box-shadow: 0 3px 6px $base-color, 0 3px 6px $base-color-hover;
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;

    &:after {
        position: absolute;
        content: "";
        top: 100%;
        height: 1px;
        width: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: $base-color;
    }
}

.background-alt {
    background: $background-alt;
}

/*
    --------------------------
    ----- 4. Lead Styles -----
    --------------------------
*/

#lead {
    position: relative;
    height: auto;
    min-height: 100vmin;
    // max-height: 60vmax;

}

#lead::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    background-image: url(../images/lead-bg.jpg);
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}

#lead-content {
    z-index: 10;
    text-align: center;
    position: relative;
    padding: 30vmin;
    @include drop-shadow();

    h1,
    h2 {
        margin: 0;
    }

    #me {
        border: 2px solid $base-color;
        border-radius: 50%;
        @include drop-shadow(0, 0, 2px);
        height: auto;
        width: calc(30vmin + 10px);
        min-width: 220px;
        max-width: 500px;
    }

    h1 {
        color: white;
        font-weight: 600;
        font-size: 2.5em;
        letter-spacing: 0.05em;
        line-height: 0.9em;
    }

    h2 {
        color: $base-color;
        font-weight: 400;
        font-size: 1.5em;
        margin: 10px;
    }
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($background, 0.8);
    z-index: 1;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: $text;

    span {
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid $base-color;
        text-align: center;
    }

    i {
        padding-top: 5px;
    }
}

/*
    ---------------------------
    ----- 5. About Styles -----
    ---------------------------
*/

#about {
    padding: 15px;
    border-bottom: 1px solid $border;
    text-align: center;

    h2 {
        color: $heading;
    }

    p {
        padding: 10px;
        text-align: justify;
        max-width: 90rem;
        margin: 0 auto;
        color: $text;
    }
}

/*
    --------------------------------
    ----- 6. Experience Styles -----
    --------------------------------
*/

#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid $border;

    h2 {
        color: $heading;
    }
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 303px;
        right: auto;
        height: 100%;
        width: 3px;
        background: $base-color;
        z-index: 0;
    }

    &:after {
        position: absolute;
        content: "";
        width: 3px;
        height: 40px;
        background: $base-color;
        background: linear-gradient(
            to bottom,
            $base-color,
            rgba($base-color, 0)
        );
        top: 100%;
        left: 303px;
    }
}

.vtimeline-content {
    margin-left: 350px;
    background: $background;
    padding: 15px;
    border-radius: 10px;
    text-align: left;

    h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        display: inline-block;
        margin: 0;
    }

    h4 {
        font-size: 1.2em;
        font-weight: 400;
        color: #7e8890;
        margin: 0 0 15px 0;
    }

    p {
        color: $text;
        font-size: 0.9em;
        margin: 0;
    }

    &:hover {
        @include transition();
        box-shadow: 0 3px 6px $base-color, 0 3px 6px $base-color-hover;
        @include drop-shadow();
    }
}

.vtimeline-point {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.vtimeline-icon {
    position: relative;
    color: $text;
    width: 50px;
    height: 50px;
    background: $base-color;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;

    i {
        display: block;
        font-size: 2em;
        margin-top: 10px;
    }
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: $text;
}

/*
    -------------------------------
    ----- 7. Education Styles -----
    -------------------------------
*/

#education {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid $border;
    text-align: center;

    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
}

.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    background: lighten($background, 5%);
    border-radius: 10px;
    text-align: left;

    h3 {
        font-weight: 500;
        float: left;
        margin: 0;
        color: $heading;
    }

    span {
        color: $text;
        float: right;
    }

    h4 {
        color: $text;
        clear: both;
        font-weight: 500;
        margin: 0 0 15px 0;
    }

    p,
    ul {
        margin: 0;
        color: $text;
        font-size: 0.9em;
    }

    &:hover {
        @include transition();
        box-shadow: 0 3px 6px $base-color, 0 3px 6px $base-color-hover;
        @include drop-shadow();
    }
}

/*
    -------------------------------
    ----- 8. Project Styles -----
    -------------------------------
*/

#projects {
    text-align: center;
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid $border;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
}

.project {
    background: $background;
    border-radius: 10px;
    padding-bottom: 1rem;
    &:hover {
        @include transition();
        box-shadow: 0 3px 6px $base-color, 0 3px 6px $base-color-hover;
        @include drop-shadow();
    }
}

.project-image {
    vertical-align: middle;
    margin: 20px;
    border-radius: 50%;
}

/*
    -------------------------------
    ----- 9. Skills Styles -----
    -------------------------------
*/

#skills {
    padding: 50px 15px;
    text-align: center;

    h2 {
        color: $heading;
        margin-bottom: 50px;
    }

    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 1280px;
    }

    li {
        display: inline-block;
        margin: 7px;
        padding: 5px 10px;
        color: $heading;
        border-radius: 10px;
        background: lighten($background, 5%);
        list-style: none;
        cursor: default;
        box-shadow: 0 1px 6px $base-color, 0 1px 4px $base-color-hover;
        @include transition(0.3s);
        &:hover {
            box-shadow: 0 3px 6px $base-color, 0 3px 6px $base-color-hover;
            font-weight: bold;
            @include drop-shadow();
            transform: scale(1.1);
        }
    }

    i {
        font-size: 1.2em;
    }

    a {
        color: $text;
        text-decoration: none;
        font-size: 1em;
    }
}

/*
    -----------------------------
    ----- 10. Media Queries -----
    -----------------------------
*/

// Medium Devices
@media only screen and (max-width: 1280px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 80px 20px 60px 20px;
    }

    #lead-content {
        padding: 40px;
        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 1.5em;
        }
    }

    .projects-grid {
        max-height: 400px;
    }
}

// Small Devices
@media only screen and (max-width: 800px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 40px 20px;
    }

    header {
        position: fixed;
        display: none;
        animation: none;
        bottom: 0;
        height: 100%;
    }

    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }

    #menu {
        height: auto;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;

        li {
            display: block;
            margin-bottom: 10px;
            border-bottom: 1px solid $border;
            &:first-child {
                border-top: 1px solid $border;
            }
        }
    }

    #lead-content {
        padding: 20px 0px;
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.3em;
        }
    }

    #lead-down {
        display: none;
    }

    #experience-timeline {
        &:before,
        &:after {
            left: 23px;
        }
    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }

    .vtimeline-icon {
        margin-left: 0;
    }

    .vtimeline-content {
        margin-left: 70px;
    }

    .education-block {
        h3,
        span {
            float: none;
        }
    }

    .projects-grid {
        max-height: 400px;
    }

    .project-image {
        float: left;
    }

    footer {
        text-align: center;
    }
}

// Extra Small Devices
@media only screen and (max-width: 480px) {
    .social a {
        font-size: 1.5em;
        padding: 10px 6px;
    }
}
